.mg-t-20 {
  margin-top: 20px;
}



.pd-l-5 {
  box-sizing: border-box;
  padding-left: 5px;
}

.pd-r-5 {
  box-sizing: border-box;
  padding-right: 5px;
}

.mg-l-20 {
  margin-left: 20px;
}

.pd-l-20 {
  box-sizing: border-box;
  padding-left: 20px;
}

.pd-r-20 {
  box-sizing: border-box;
  padding-right: 20px;
}

.pd-b-20 {
  box-sizing: border-box;
  padding-bottom: 20px;
}

.pd-b-5 {
  box-sizing: border-box;
  padding-bottom: 20px;
}

.pd-b-10 {
  box-sizing: border-box;
  padding-bottom: 10px;
}

.pd-r-25 {
  box-sizing: border-box;
  padding-right: 25px;
}
