body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}

.skill-flex {
  justify-content: space-between;
}


.text-normal {
  opacity: 0.7;
}

.main-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
}

.detail-card {
  width: 33%;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin: 10px;
}

.detail-content {
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .detail-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .exp {
    width: 98% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    flex-direction: column;
  }
}

.avatar {
  border-radius: 50%;
  width: 95%;
  margin: 10px;
}

.exp {
  width: 66%;
}

.experience-container {
  background-color: white ;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  margin-bottom: 20px;
}

.final-container {
  padding-bottom: 38px !important;
}

.current {
  border-radius: 4px;
  background-color: #4961e1;
  color: #f1f1f1;
}

.line-break {
  margin: 20px 0 0px 0 !important;
  background-color: #f1f1f1;
}
