body
{
    background:url('images/code3.jpg') no-repeat center center fixed!important; 
    background-size: auto;
    background-attachment: fixed;
    margin : 0px;
    padding : 0px;
    display: grid;
    }
.hello
{
    width : 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top:200px;
    font-family: cursive,sans-serif;
    font-size: 65px;
    text-align: center;
    animation: tpe 2.5s steps(18);
    overflow: hidden;
    white-space:nowrap;
    width: 13ch;
}
@keyframes tpe
{
    0%
    {
        width: 0ch;
    }
    50%
    {
        width: 8ch;
    }
    100%
    {
        width:16ch; 
    }
}
.greet
{
    color: white;
    font-weight: 700;
}
.container
{
    width : 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    font-family: cursive,sans-serif;
    text-align: center;
    top: 340px;
    
}
.container span
{
    color: white;
    display: block;
}
.text1
{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 5px;
    position: relative;
}
@keyframes text
{
    0%
    {
        color: orange;
    }
    30%
    {
        letter-spacing: 25px;
        color: White;
    }
    85%
    {
        letter-spacing: 7.5px;
        color: yellow;
    }
    100%
    {
        letter-spacing: 7px;
    }
}
.text2
{
    position: relative;
    top:-15px !important;
    font-size: 60px;
    letter-spacing: 7px;
    font-weight: 700!important;
    color: yellow !important;
    animation: text 3s 1;
}
.icons
{
    margin: 0 auto !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top:600px !important;
    height: 100px;
}
ul
{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li
{
    position: relative;
    list-style:none;
    width:50px;
    height: 50px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(20deg);
}
ul li span
{
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    width:100%;
    height: 100%;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px !important;    
}
ul li:hover span:nth-child(5)
{
    transform: translate(40px,-40px);
    opacity:1;       
}
ul li:hover span:nth-child(4)
{
    transform: translate(30px,-30px);
    opacity: 0.8;
}
ul li:hover span:nth-child(3)
{
    transform: translate(20px,-20px);
    opacity: 0.6;
}
ul li:hover span:nth-child(2)
{
    transform: translate(10px,-10px);
    opacity: 0.4;
}
ul li:hover span:nth-child(1)
{
    transform: translate(0px,-0px);
    opacity: 0.2;
}
ul li:nth-child(1) span
{
    background:#e4405f; 
}
ul li:nth-child(2) span
{
    background:#3b5998; 
}
ul li:nth-child(3) span
{
    background:#55acee; 
}
ul li:nth-child(4) span
{
    background:#211F1F; 
}
ul li:nth-child(5) span
{
    background:#25D366; 
}
